global-reset()

body
  background #eee
  
h2
h3
#table-of-contents
#table-of-contents ~ ul:nth-of-type(1)
blockquote
img[alt="Awesome"]
  display none !important

input
  display block
  font-size 36px
  margin 20px 0 0 0
  padding 1.5% 2.5%
  width 100% - 5%
  border none
  outline none

.content
  transition all 1.5s ease-out
  background-color white
  font-family -apple-system, Helvetica, Arial, sans-serif
