doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    title Awesome OS X
    link(rel='stylesheet' href='css/main.css')
    script(src="javascript/bundle.min.js")
  body
    main
      input.search(type="text")
      .content
